POSTGRES_DB=oficina
POSTGRES_USER=sa
POSTGRES_PASSWORD=P@ssw0rd123
POSTGRES_PORT=5432

API_MONOLITH_PORT=7194
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

ALLOWED_HOSTS=*
LOG_LEVEL_DEFAULT=Information
LOG_LEVEL_ASPNETCORE=Warning
DATABASE_CONNECTION_STRING=Host=postgres;Port=5432;Database=oficina;Username=sa;Password=P@ssw0rd123
RESEND_API_KEY=

REGISTRY_PREFIX=903936907231.dkr.ecr.us-east-1.amazonaws.com/
IMAGE_TAG=latest
